.details-wrapper {
  max-width: 900px;
  margin: 20px auto;
  position: relative;
}
.game-gauge {
  width: 150px;
  height: 150px;
  display: block;
  padding: 10px;
  position: absolute;
  top: 50px;
  right: 0;
  stroke-width: 10;
  stroke-dasharray: none;
  stroke-width: 13;
  fill: white;
  font-size: 24px;
  font-weight: 700;
}

.game-banner-image {
  height: 442px;
  overflow: hidden;
  width: 100%;
  filter: blur(5px);
}
.game-content {
  text-align: center;
  position: relative;
  top: -200px;
}
.game-header-title {
  font-size: 70px;
  color: white;
  font-weight: 700;
  line-height: 70px;
  white-space: nowrap;
}
.game-header-release-date {
  color: white;
  font-weight: 700;
}
.game-header-genres {
  color: white;
  font-weight: 700;
}
