<div class="game-tabs">
  <mat-tab-group mat-align-tabs="start" backgroundColor="primary">
    <mat-tab label="About"
      ><p class="games-tabs-par">Platforms:<span>PC</span></p>
      <p class="games-tabs-par">Publishers:<span>Konami</span></p>
      <p class="games-tab-par">
        Website<a class="game-tabs-link" href="#" target="_blank">hhtp//:</a>
      </p>
      <div class="game-description">describe game</div>
      <p class="game-tabs-vote">
        <span>
          <mat-icon class="game-votes-up">thumb_up</mat-icon>
          <span class="game-votes-count">55</span> </span
        ><span>
          <mat-icon class="game-votes-down">thumb_down</mat-icon>
          <span class="game-votes-count">22</span>
        </span>
      </p>
    </mat-tab>
    <mat-tab label="Screenshots">
      <img
        class="game-screenshot"
        src="https://images.pexels.com/photos/674010/pexels-photo-674010.jpeg"
        alt="Screenshots"
      /> </mat-tab
    ><mat-tab label="Trailers"
      ><video class="game trailer" controls>
        <source
          src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4"
          type="video/mp4"
        />
        video not supported
      </video></mat-tab
    ></mat-tab-group
  >
</div>
